@import '~fontsource-roboto/latin.css';

body {
  margin: 0;
  font-family: 'Roboto';
  background: #f2f2f2;
}
p {
  margin: 0
}



// Carousel
.slick-dots {
	position: absolute;
	display: block;
	padding: 0;
	bottom: -25px;
	width: 100%;
	margin: 0;
	list-style: none;
	text-align: center;
	li {
		button {
			&:before {
				font-size: 6px;
				line-height: 20px;
				position: absolute;
				top: 0;
				left: 0;
				width: 20px;
				height: 20px;
				content: '•';
				text-align: center;
				opacity: .25;
				color: #000;
			}
			font-size: 0;
			line-height: 0;
			display: block;
			width: 20px;
			height: 20px;
			padding: 5px;
			cursor: pointer;
			color: transparent;
			border: 0;
			outline: 0;
			background: 0 0;
			&:focus {
				outline: 0;
				&:before {
					opacity: 1;
				}
			}
			&:hover {
				outline: 0;
				&:before {
					opacity: 1;
				}
			}
		}
		position: relative;
		display: inline-block;
		width: 20px;
		height: 20px;
		margin: 0 5px;
		padding: 0;
		cursor: pointer;
	}
	li.slick-active {
		button {
			&:before {
				opacity: .75;
				color: #000;
			}
		}
	}
}
.slick-next {
	position: absolute;
	display: block;
	padding: 0;
	font-size: 0;
	line-height: 0;
	top: 50%;
	width: 20px;
	height: 20px;
	-webkit-transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
	transform: translate(0,-50%);
	cursor: pointer;
	color: transparent;
	border: none;
	outline: 0;
	background: 0 0;
	right: -25px;


	&:before {
		font-size: 20px;
		line-height: 1;
		opacity: .75;
		color: #fff;
		content: '→';
	}
	&:focus {
		color: transparent;
		outline: 0;
		background: 0 0;
		&:before {
			opacity: 1;
		}
	}
	&:hover {
		color: transparent;
		outline: 0;
		background: 0 0;
		&:before {
			opacity: 1;
		}
	}
}
.slick-prev {
	position: absolute;
	display: block;
	padding: 0;
	font-size: 0;
	line-height: 0;
	top: 50%;
	width: 20px;
	height: 20px;
	-webkit-transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
	transform: translate(0,-50%);
	cursor: pointer;
	color: transparent;
	border: none;
	outline: 0;
	background: 0 0;
	left: -25px;
	&:before {
		//font-family: slick;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size: 20px;
		line-height: 1;
		opacity: .75;
		color: #fff;
		content: '←';
	}
	&:focus {
		color: transparent;
		outline: 0;
		background: 0 0;
		&:before {
			opacity: 1;
		}
	}
	&:hover {
		color: transparent;
		outline: 0;
		background: 0 0;
		&:before {
			opacity: 1;
		}
	}
}
.slick-next.slick-disabled {
	&:before {
		opacity: .25;
	}
}
.slick-prev.slick-disabled {
	&:before {
		opacity: .25;
	}
}
[dir=rtl] {
	.slick-prev {
		right: -25px;
		left: auto;
		&:before {
			content: '→';
		}
	}
	.slick-next {
		right: auto;
		left: -25px;
		&:before {
			content: '←';
		}
	}
}
.slick-dotted.slick-slider {
	margin-bottom: 30px;
}
